@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal:"Open Sans", sans-serif;
    --cor-texto-principal: #667085;
    --cor-vermelho:  #8E2424;
}


body{
    color: var(--cor-texto-principal);
}

header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}
.navBar__texto{
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: var(--fonte-principal);
}
.navBar__button{
    width: 15%;
}
.button{
    background-color: var(--cor-vermelho);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.button.login{
    background-color: transparent;
    color: var(--cor-texto-principal);
}

main{
    height: auto;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
}
.cabecalho__titulo{
    color: black;
    font-weight: 700;
    font-size: 48px;
}
.cabecalho > p{
    color: var(--cor-vermelho);
}
.cabecalho__texto{
    max-width: 35rem;
}
.metricas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.metricas__conteudo{
   display: flex;
   flex-direction: column;
    width: 20%;
    padding: 4em 5em;
    gap: 1em;
}
.metricas__conteudo > h1{
    color: var(--cor-vermelho);
    font-size: 38px;
    font-weight: 700px;
}
.metricas__conteudo > h4{
    color: black;
    font-size: 18px;
}
.vagas{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vagas__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.vagas__container > h1{
    color: black;
    font-size: 32px
}
.vagas__container > p {
    color: var(--cor-vermelho);
    font-size: 20px;
    background-color:rgb(219, 219, 219);
    width: 10%;
    border-radius: 2em;
}
.vagas__imagem{
    padding: 4em 15em;
}
